ul.workList {
  list-style: none;
  padding: 0;
  margin: 1em;
}
ul.workList > li {
  border: 1px solid lightgray;
  margin-bottom: 1em;
} 



ul.workList div.header {
  position: relative;
  min-height: 3em;
  padding: 0.5em 0em;
  display: flex;
  justify-content: space-between;
}
ul.workList div.header div:last-child {
  overflow: hidden;
  min-width: 25%;
  text-align: right;
}



ul.workList table.requiredTags {
  color: white;
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  text-align: center;
  font-family: monospace;
}
ul.workList table.requiredTags td {
  border: 1px solid black;
  width: 1em;
  height: 1em;
}

ul.workList .ratingN {
  background-color: white;
}
ul.workList .ratingG {
  background-color: #78A700FF;
}
ul.workList .ratingT {
  background-color: yellow;
}
ul.workList .ratingM {
  background-color: orange;
}
ul.workList .ratingE {
  background-color: red;
}

ul.workList .catN {
  background-color: white;
}
ul.workList .catFF {
  background-color: red;
}
ul.workList .catFM {
  background-color: purple;
}
ul.workList .catG {
  background-color: green;
}
ul.workList .catMM {
  background-color: blue;
}
ul.workList .catO {
  background-color: black;
}
ul.workList .catMu {
  background-color: black;
}

ul.workList .warning1 {
  background-color: white;
}
ul.workList .warningX {
  background-color: red;
}
ul.workList .warning6 {
  background-color: orange;
}

ul.workList .tagComplete {
  background-color: green;
}
ul.workList .tagIncomplete {
  background-color: red;
}



ul.workList li div h4,
ul.workList li div h5 {
  font-weight: normal;
  font-size: 100%;
  padding: 0;
  margin: 0 0 0 3.5em;
}



ul.workList div.header .timestamp {
  margin: 0 0.5em 0 0;
}

ul.workList ul.tags {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.workList ul.tags.mainTags {
  margin-left: 1em;
  line-height: 1.275;
}
ul.workList ul.tags li {
  display: inline;
}
ul.workList ul.tags li a {
  border-bottom: 1px dotted;
}
ul.workList ul.tags li::after {
  content: ", ";
}
ul.workList ul.tags li:last-child:after,
ul.workList ul.tags li:only-child:after {
  content: none;
}
ul.workList ul.tags li.tagWarn {
  font-weight: bold;
}
ul.workList ul.tags li.tagShips a {
  background-color: lightgray;
}



ul.workList div.stats {
  text-align: right;
  margin: 0.5em;
}



/*
SIMPLE LIST
*/

table.workList table {
  width: 100%;
}

table.workList .tableColId,
table.workList .tableColChapters,
table.workList .tableColDateDL
{
  width: 10%;
}

table.workList .tableColTitle {
  width: 65%;
}

table.workList td {
  text-align: center;
}
table.workList tr > :nth-child(2) {
  text-align: left;
}
